.intro {
  background: url(../images/h_img.jpg);
  background-position: top;
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  color: white;


}
.intro-paragragh {
  text-align: center;
  padding-top: 150px;
  height: 50px;

}
.about-us-text {
  text-align: center;
  padding: 6px;
  margin: 20px;
}
.services-text {
  text-align: center;
  padding:6px;
  margin : 20px;

}
.services {
  background: url(../images/s_image.jpg);
  background-position: top;
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  color: white;



}
.contactUs {
  background: url(../images/c_image.jpg);
  background-position: top;
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  color: white;
  margin-top: 15%;
  transform: translateY(-15%);
}
.logo1{
  text-align: center;
  padding-top: 150px;
  height: 50px;

}

.logo2{
  text-align: center;
  padding-top:300px;
  height: 50%;
  margin: 20px;
}

footer {
  text-align: center;
  width: 100%;

}
footer p {
  margin: 20px;
}
* {
  border-sizing: border-box;
}
.portfolio .column {
  float: left;
  width: 25%;
  padding: 5px;
  margin: auto;
}


.portfolio .row::after {
  content: "";
  clear: both;
  display: table;
}
.design-show{
  display: none;
}
.development-show {
  display: none;
}
.productManagement-show {
  display: none;
}
figcaption {
  position: relative;
  font-weight: bold;
}
figure {
  text-align: center;
  float: left;
}
.clickable1 {
     cursor: pointer;
     color: #0088cc;
}
.clickable2 {
     cursor: pointer;
     color: #0088cc;
}
.clickable3 {
     cursor: pointer;
     color: #0088cc;
}
.design-show h3 {
  font-weight: bold;
}.development-show h3 {
  font-weight: bold;
}
.productManagement-show h3 {
  font-weight: bold;
}
.intro h1 {
  font-weight: bold;
}.intro p {
  font-weight: bold;
}
.aboutUs h2 {
  font-weight: bold;
}
.services h2 {
  font-weight: bold;
}
.whatWeDo h2 {
  font-weight: bold;
}
.contactUs h2 {
  font-weight: bold;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: unset;
  background-clip: padding-box;
  border: 1px solid white;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#YourMessage {
  margin: 40px;
  color: white;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 5rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: unset;
  background-clip: padding-box;
  border: 1px solid white;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button  {
margin-left: 50%;
transform: translateX(-50%);
color: white;
background: #e91d43;
padding: 10px 20px;
font-size: 1em;
font-weight: 600;
border-radius: 4px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
}